body {
    background-color: #5f5f5f;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReY2rJM5WVz9MuXLe_rC9PU4sx0wdYeu4Wk4MSBY0zjg&s=10');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#about-me-button {
    font-family: 'Arial', sans-serif;
}